__pycache__/
*.py[cod]
*.pth
*.ply
*.npz
*.npy
nersemble_bases/
base_embeddings.npz
# exclude precomputed_assets except bundled templates
precomputed_assets/*
!precomputed_assets/333_EXP-1_v16_DS4_whiteBg_staticOffset_maskBelowLine/
precomputed_assets/333_EXP-1_v16_DS4_whiteBg_staticOffset_maskBelowLine/*
!precomputed_assets/333_EXP-1_v16_DS4_whiteBg_staticOffset_maskBelowLine/*.npz
!precomputed_assets/333_EXP-1_v16_DS4_whiteBg_staticOffset_maskBelowLine/*.json
!precomputed_assets/333_EXP-1_v16_DS4_whiteBg_staticOffset_maskBelowLine/*.ply
!precomputed_assets/288_EXP-1_v16_DS4_whiteBg_staticOffset_maskBelowLine/
precomputed_assets/288_EXP-1_v16_DS4_whiteBg_staticOffset_maskBelowLine/*
!precomputed_assets/288_EXP-1_v16_DS4_whiteBg_staticOffset_maskBelowLine/*.npz
!precomputed_assets/288_EXP-1_v16_DS4_whiteBg_staticOffset_maskBelowLine/*.json
!precomputed_assets/288_EXP-1_v16_DS4_whiteBg_staticOffset_maskBelowLine/*.ply
*.egg-info/
dist/
build/
.env
.venv/
output*/
outputs/
results/
debug_*/
*.png
!assets/*.png
!docs/static/images/*.png
*.jpg
!assets/*.jpg
!docs/static/images/*.jpg
*.mp4
*.gif
!assets/*.gif
!docs/static/images/*.gif
